.info{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.text{
    width: 45%;
    margin-left: 3%;
}
.text2{
    width: 45%;
    margin-right: 3%;
}
.main{
    justify-content: center;
    align-items: center;
}
.big-krossovok{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
    border-radius: 10px;

}
.cont__snykers{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
h3{
    text-decoration: none;
    color: black;
}
p{
    text-decoration: none;
    color: black;
}
@media(max-width: 768px){
    h1 
    {font-size: 24px;}
.header-container{
    flex-wrap: wrap;
    flex-direction: column;
}
.footer-content{
    flex-wrap: wrap;
    flex-direction: column;
}
}
@media(max-width: 450px){
    .footer__logo-image{
        width: 200px;
}
.header-logo{
    width: 106px;
    height: 32x;
}
.gg{
    display: flex;
    justify-content: center;
    width: 180px;
    height: 140px;
}
.info{
    width: 180px;
    height: 140px;
}
.container{
    display: flex;
    justify-content: center;
}
}